{
  "extends": "airbnb",
  "globals": {
    "Image": false,
    "document": false,
    "fabric": false,
    "window": false,
  },
  "rules": {
    "no-restricted-syntax": 0,
    "guard-for-in": 0
  }
}
